<div class="se-action">
  <div class="se-action-info">
      <h2>{{action.name}}</h2>
  </div>

  <div *ngIf="quotes" class="se-action-quotes">
    <p>Otwarcie: {{quotes.open}}</p>
    <p>Zamknięcie: {{quotes.close}}</p>
    <p>Min: {{quotes.min}}</p>
    <p>Max: {{quotes.max}}</p>
    <p>Wolumen: {{quotes.volumen}}</p>
  </div>

  <div *ngIf="stopVariationSmall && stopVariationLarge" class="se-action-stop-variation">
    <p>Stop zmiennosci (1.5): {{stopVariationSmall}}</p>
    <p>Stop zmiennosci (2): {{stopVariationLarge}}</p>
  </div>

  <!-- <div *ngIf="historyQuotes" class="se-action-history-quotes">
    <p *ngFor="let hQuotes of historyQuotes">
      {{hQuotes.min}} {{hQuotes.max}} {{hQuotes.open}} {{hQuotes.close}}
    </p>
  </div> -->
</div>