<div class="se-dashboard">
  <se-stock class="se-dashboard-stock" (selectedActionChange)="selectedAction=$event"></se-stock>
  <se-action class="se-dashboard-action" [selectedAction]="selectedAction"></se-action>
</div>