.stock-exchange {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &-header {
    height: 50px;
  }

  &-container {
    flex-grow: 1;

    // height: 100%;
    // overflow-y: scroll;
  }

  &-footer {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
  }
}