<div class="stock-exchange">
  <se-header class="stock-exchange-header"></se-header>

  <div class="stock-exchange-container">
    <router-outlet></router-outlet>
  </div>

  <se-footer class="stock-exchange-footer"></se-footer>
</div>