html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;

  font-family: 'Montserrat-Regular';
}

.stock-exchange-root {
  display: flex;
  flex-grow: 1;
}