@font-face {
  font-family: 'Montserrat-Black';
  src: url('../../assets/fonts/Montserrat-Black.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: url('../../assets/fonts/Montserrat-BlackItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../assets/fonts/Montserrat-Bold.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('../../assets/fonts/Montserrat-BoldItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-ExtraBoldItalic';
  src: url('../../assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../../assets/fonts/Montserrat-ExtraLight.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  src: url('../../assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../../assets/fonts/Montserrat-Italic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../assets/fonts/Montserrat-Light.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-LightItalic';
  src: url('../../assets/fonts/Montserrat-LightItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../assets/fonts/Montserrat-Medium.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('../../assets/fonts/Montserrat-MediumItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: url('../../assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../../assets/fonts/Montserrat-Thin.ttf') format('truetype'),
}
@font-face {
  font-family: 'Montserrat-ThinItalic';
  src: url('../../assets/fonts/Montserrat-ThinItalic.ttf') format('truetype'),
}