<div class="se-stock">
  
  ZAKŁADKI !!

  <p>Wszystkie akcje</p>
  <p>WIG20</p>
  <p>WIG30</p>
  <p>mWIG40</p>
  <p>sWIG80</p>

  <div class="se-stock-search">
    <input type="text" [ngModel]="searchValue" (ngModelChange)="searchValueChange($event)">
  </div>

  <div class="se-stock-container">
    <div class="se-stock-container-action" *ngFor="let action of filteredActions" (click)="actionClick(action)">
      {{action.name}}
    </div>
  </div>
</div>