.se-stock {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 600px;
    padding: 15px;

    &-action {
      cursor: pointer;
    }
  }
}